.navbar {

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: #2563eb;

  color: white;

}


.logo {

  font-size: 22px;
  font-weight: bold;

}


.links a {

  color: white;

  text-decoration: none;

  margin-left: 25px;

  padding: 8px 12px;

  border-radius: 5px;

}


.links a:hover {

  background: white;
  color: #2563eb;

}


.active {

  background: white;
  color: #2563eb !important;

}